<li (click)="openChangeModal(task)" style="cursor: pointer">
  <div>
    <p-checkbox
      [binary]="true"
      (click)="checkTask(id)"
      inputId="{{ id }}"
      [(ngModel)]="checked"
    />
    <div *ngIf="task.length < 30 else elseBlock">
      {{ task }}
    </div>
    <ng-template #elseBlock>
      {{index + 1}}. {{ task.slice(0, 30) + "..." }}
    </ng-template>
  </div>
  <button class="delete-btn" (click)="deleteTask(id)">&#10005;</button>
</li>

<p-dialog
  header="Change task"
  [(visible)]="isModalOpen"
  [style]="{ width: '400px'}"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <div>{{ openedTask }}</div>
</p-dialog>
