li {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

li .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: lightslategrey;
  padding: 3px 5px;
}

li .delete-btn:hover {
  color: black;
}
