.container {
  width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 13px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-top: 40px;
}

.input-box {
  display: flex;
}

.input-box .input-field {
  width: 85%;
  padding: 14px 16px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 17px;
  background-color: whitesmoke;
}

.input-box button {
  width: 15%;
  background-color: whitesmoke;
  border: none;
  padding: 5px;
  border-radius: 0 10px 10px 0;
}

.input-box button svg {
  color: dimgray;
  width: 22px;
}

.checking-box {
  padding-top: 30px;
}

.strength-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
